<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">

    <mat-nav-list>
      <nav>
        <a mat-list-item (click)="closeSideNav()" routerLink="/home">Home</a>
        <a mat-list-item (click)="closeSideNav()" routerLink="/resources">Resources</a>
        <a mat-list-item (click)="closeSideNav()" routerLink="/contact">Contact</a>
      </nav>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content class="content-container">

    <div class="toolbar">
      <mat-toolbar role="heading">
        <button mat-icon-button (click)="drawer.toggle()" *ngIf="(isHandset$ | async)">
          <mat-icon>menu</mat-icon>
        </button>

        <span fxFlex></span>

        <h1 style="margin-left: 20px;">PFOA Hub</h1>
        <img src="assets/images/cinci-logo.png" alt="Cinci Logo" height="40px" width="40px">
      </mat-toolbar>
    </div>

    <div class="router-container">
      <router-outlet></router-outlet>
    </div>
    
  </mat-sidenav-content>

</mat-sidenav-container>