<div class="resources-container">
    <h1>Resources</h1>

    <br>

    <h3>EPA - Supporting Documents for Drinking Water Health Advisories for PFOA and PFOS</h3>
    <a href="https://www.epa.gov/ground-water-and-drinking-water/supporting-documents-drinking-water-health-advisories-pfoa-and-pfos" target="_blank"><button mat-raised-button>EPA Documents</button></a>
    <br><br>
    <mat-divider></mat-divider>

    <h3>CDC - Information on PFOA's</h3>
    <a href="https://www.cdc.gov/biomonitoring/PFOA_FactSheet.html" target="_blank"><button mat-raised-button>CDC Information</button></a>
    <br><br>
    <mat-divider></mat-divider>

    <h3>CDC - Information on All Perfluoroalkyl Chemicals</h3>
    <a href="https://www.cdc.gov/biomonitoring/PFAS_BiomonitoringSummary.html" target="_blank"><button mat-raised-button>CDC Information_2</button>></a>
    <br><br>
    <mat-divider></mat-divider>

    <h3>Cancer.org - Information on the Effects of PFOA/PFOS</h3>
    <a href="https://www.cancer.org/cancer/cancer-causes/teflon-and-perfluorooctanoic-acid-pfoa.html" target="_blank"><button mat-raised-button>Cancer.org Information</button>></a>
    <br><br>
    <mat-divider></mat-divider>
</div>
