<div class="home-container">
    <div class="what-content">
        <h1>What Are PFOA/PFOS's?</h1>
        <p>
            PFOA and PFOS are fluorinated organic chemicals that are part of a larger group of chemicals referred to as perfluoroalkyl substances (PFASs). PFOA and PFOS have been the most extensively produced and studied of these chemicals. They have been used to make carpets, clothing, fabrics for furniture, paper packaging for food and other materials (e.g., cookware) that are resistant to water, grease or stains. They are also used for firefighting at airfields and in a number of industrial processes.
        </p>
        <p>
            DuPont famously released these chemicals into the Ohio River, even after knowing of the health risks that come from receiving these chemicals. They knew about the risks dating all the way back to 1961, and continued to release these chemicals from their plant in Parkersburg, West Virginia. People and livestock were getting sick and dying but DuPont continued denial until scientific research data was uncovered and lawsuits began rolling in at the turn of the century.
        </p>
    </div>

    <br>

    <div class="why-container">
        <h1>Why You Should Care</h1>
        <p>
            So why should you care about any of this? PFOA/PFOS are non-biodegradable, meaning they stay in the environment and in our bodies for a very long time. It should also be noted that every single person who has had their blood tested for this chemical has tested positive. It is estimated 99.9% of living bodies on the planet have this chemical present in their body. The chemical can be found in waters all over the world now, meaning it has moved from a national issue to a global one.
        </p>
        <p>
            Some of the effects of theses chemicals include:
        </p>
        <ul>
            <li>Testicular and kidney cancer</li>
            <li>Problems to fetuses, breastfed babies, and children</li>
            <li>Liver damage</li>
            <li>Thyroid disease</li>
            <li>Ulcerative Colitis</li>
            <li>Changes to cholesterol</li>
            <li>Changes in blood pressure during pregnancy</li>
        </ul>
        
    </div>

    <br>

    <div class="help-container">
        <h1>How to Fix the Problem</h1>
        <p>
            DuPont committed to phasing out these chemicals in 2006 and followed through, finishing in 2015. This is a big step in the right direction as they were one of the biggest users of the chemical. However, many companies are still using the chemical today. If everyone ceased use of the chemical, it would make the problem much easier to solve.
        </p>
        <p>
            We already know of ways to filter PFOA out of water. For households there is a filtered pitcher which uses activated carbon to filter these chemicals out. At the industrial level, we use a similar technique, granular activated carbon, to filter these chemicals out.
        </p>
        <p>
            If we created a global plan and commitment, we would accelerate progress on getting rid of these chemicals. Scientists are working to create more efficient methods of filtering and getting rid of these chemicals but it takes everyone to make a change.
        </p>
        <p>
            Researchers have seen a 40% decrease in PFOA in blood tested between 2000 and 2010.
        </p>
        <p>
            It has taken a while, but progress is finally being made on stopping these harmful chemicals from being released into the environment and our bodies. Big corporations were covering this up for too long and killing us. The people.
        </p>
    </div>

    <button mat-raised-button routerLink="/resources" style="font-weight: bolder;">Additonal Resources &#8658;</button>
    
</div>
