.contactpage-container {
  text-align: left;
  font-family: "Trebuchet MS", sans-serif;
  color: #d3d3d3;
}

.card {
  margin: 5vh 10vw 5vh 10vw;
  background-color: #343a40;
}

.contact-form {
  display: flex;
  flex-direction: column;
}
